@import url("restaurant.css");
.labelUserType {
    font-size: 12px;
    color: rgb(128, 106, 106);
}

.inputlbl {
    font-size: 14px;
    color: grey;
}

.card-header {
    font-size: 24px;
}

#info .card-header {
    background-color: #FFE082;
    color: #935116;
}

#info .card {
    border: 1px solid #FFE082;
    box-shadow: 2px 2px 6px -1px #FFE082;
}

#meuns .card-header {
    background-color: #FFCC80;
    color: #873600;
}

#meuns .card {
    border: 1px solid #FFCC80;
    box-shadow: 2px 2px 6px -1px #FFCC80;
}

#branches .card-header {
    background-color: #FFAB91;
    color: #6E2C00;
}

#branches .card {
    border: 1px solid #FFAB91;
    box-shadow: 2px 2px 6px -1px #FFAB91;
}

.views:first-child {
    padding-top: 75px;
}

.views {
    padding-top: 40px;
}

.meuntable-th {
    color: #6E2C00;
}

#takeAwaylbl {
    font-size: 18px;
    color: black;
}

.form-label-group {
    overflow: auto;
}

.delbtn {
    background: transparent;
    border: 1px solid red;
    border-radius: 2em;
    color: red;
    font-size: 12px;
    height: 24px;
    width: 24px;
    text-align: center;
    opacity: 0.6;
}

.delbtn:hover {
    opacity: 1;
}

.chgbtn {
    background: transparent;
    border: 1px solid #01579B;
    border-radius: 2em;
    color: #01579B;
    font-size: 12px;
    height: 24px;
    width: 24px;
    text-align: center;
    opacity: 0.6;
}

.chgbtn:hover {
    opacity: 1;
}

.right {
    text-align: right;
}

fieldset {
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 20px;
}

legend {
    width: auto;
}

fieldset:hover {
    border: 1px solid #03A9F4;
    cursor: pointer;
    box-shadow: 2px 2px 2px -1px #4FC3F7;
}