<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Yummy Everywhere</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restaurant.html">Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li id="user" class="nav-item">
          <a class="nav-link"><img src="image/human.png" style="width: 10%;cursor: pointer;"></a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    const visitor = Object.keys(localStorage).filter(v=>(v=="user")).length ? JSON.parse(localStorage["user"]) : { type: "walk-in" };
    const nav = $("nav");
    const user = localStorage["user"];
    nav.find("#user").hover(
      function () {
        const list = render.list.create.el();
        if (visitor.type == "walk-in") {
          list.attr("style", "position:absolute;")
          render.list.set.item(list, ["Login"]);
          list.find(".list-group-item").attr("href", "login.html")
        }
        else if(visitor.type == "user"){
          list.attr("style", "position:absolute;")
          render.list.set.item(list, ["My Favorite","Profile","Logout"]);
          $(list.find(".list-group-item")[0]).attr("href", "favorite.html")
          $(list.find(".list-group-item")[1]).attr("href", "profile.html")
          $(list.find(".list-group-item")[2]).attr({"style":"cursor:pointer;","href":"login.html"}).click(()=>{localStorage["user"]=JSON.stringify({ type: "walk-in" });})
        }
        else if(visitor.type == "operator"){
          list.attr("style", "position:absolute;")
          render.list.set.item(list, ["My Favorite","Profile","Manage Restaurant","Logout"]);
          $(list.find(".list-group-item")[0]).attr("href", "favorite.html")
          $(list.find(".list-group-item")[1]).attr("href", "profile.html")
          $(list.find(".list-group-item")[2]).attr("href", "operation.html")
          $(list.find(".list-group-item")[3]).attr({"style":"cursor:pointer;","href":"login.html"}).click(()=>{localStorage["user"]=JSON.stringify({ type: "walk-in" });})
        }
        else if(visitor.type == "admin"){
          list.attr("style", "position:absolute;")
          render.list.set.item(list, ["My Favorite","Profile","Manage User","Logout"]);
          $(list.find(".list-group-item")[0]).attr("href", "favorite.html")
          $(list.find(".list-group-item")[1]).attr("href", "profile.html")
          $(list.find(".list-group-item")[2]).attr("href", "admin.html")
          $(list.find(".list-group-item")[3]).attr({"style":"cursor:pointer;","href":"login.html"}).click(()=>{localStorage["user"]=JSON.stringify({ type: "walk-in" });})
        }
        nav.find("#user").append(list);
        nav.find(".list-group-item").hover(function () { $(this).addClass("active") }, function () { $(this).removeClass("active") })
      },
      function () {
        nav.find(".list-group").remove();
      });
  </script>
</nav>